body {
    font-family: sans-serif;
    background: #d7e6f2;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 800px;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    text-shadow: 1px 1px 2px #aaa;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;/* 2カラム */
    gap: 15px;
}

/*　カードデザイン */
li {
    background: #9effba;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* 削除ボタン */
.delete-btn {
    background: #f58686;
    border: none;
    border-radius: 6px;
    color: white;
    padding: 6px 12px;
    cursor: pointer;
    transition: background 0.2s ease;
}

/* サマリ */
.summary {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.summary p {
    background: #f0f4ff;
    padding: 10px 15px;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    color: #333;
}

/* 検索フィルター */
.filter-box {
    margin: 20px 0;
    padding: 15px;
    background: #f0f4ff;
    border-radius: 12px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    align-items: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.filter-box input[type="text"]
.filter-box input[type="date"] {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 14px;
    background: #fff;
    transition: border 0.3s;
}

.filter-box input:focus {
    border: 1px solid #78afee;
    outline: none;
}

.filter-box button {
    background: #62a3ed;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
}

.filter-box button:hover {
    background: #357ab8;
    transform: scale(1.05);
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin:  15px 0;
}

